<h1>View all available dogs!</h1>

<% @dogs.each do |dog| %>
  <h3><%= dog.name %></h3>
  <li><%= dog.age %></li>
  <li><%= dog.breed %></li>
  <li><%= dog.user.username %> - <%= dog.user.email %></li>
<% end %>
