<h1>View all available dogs!</h1>

<% @dogs.each do |dog| %>
  <h3><%= dog.name %></h3>
  <li><%= dog.age %></li>
  <li><%= dog.name %></li>
  <li><%= owner.username %> - <%= owner.email %></li>
<% end %>
