<div class="page-header">
  <h1><b>Edit information for <%= @dog.name %></b></h1>
</div>

<div class="jumbotron">
  <div class="well well-sm">
    <form action="/dogs/<%= @dog.id %>" method="post">
      <input type="hidden" id="hidden" name="_method" value="patch">

      <label><h4>Name:*</h4></label>
      <input type="text" name="dog[name]" value="<%= @dog.name %>">
      <br>

      <label><h4>Age:*</h4></label>
      <input type="text" name="dog[age]" value="<%= @dog.age %>">
      <br>

      <label><h4>Breed(s):</h4></label>
      <h5>Choose from existing breed:</h5>
      <% @dog.breeds.each do |breed| %>
         <label><%= breed.name %></label>
         <input type="checkbox" id="<%= breed.id %>" name="dog[breed_ids][]" value="<%= breed.id %>" <%='checked' if @dog.breeds.include?(breed) %>>
         <br>
      <% end %>

      <h5>and/or create a new breed:<h5>
      <input type="text" id="new_breed" name="breed[name]">
      <br></br>

      <label><h4>Description:</h4></label>
      <br>
      <!-- <input type="text" name="dog[description]" value="<%= @dog.description %>"> -->
      <textarea name="dog[description]" cols="24" rows="5"><%= @dog.description %></textarea>
      <br></br>

      <h6>* required</h6>
      <button type="submit" class="btn btn-primary" name="button">Update details <span class="glyphicon glyphicon-thumbs-up"> </span></button>
    </form>
    <br>
    
    <a href="/dogs/<%= @dog.id %>" class="btn btn-primary">Cancel <span class="glyphicon glyphicon-remove-circle"> </span></a>
  </div>
</div>
