<h1><%= @dog.name %>!</h1>

<h4>Dog age: </h4><%= @dog.age %>
<h4>Dog breed: </h4>
<% @dog.breeds.each do |breed|%>
  <p><%= breed.name %></p>
<% end %>

<% if @dog.user_id == Helpers.current_user(session).id %>
  <a href="/dogs/<%= @dog.id %>/edit">Edit dog adoption details </a>
  <br>

  <form action="/dogs/<%= @dog.id %>/delete" method="post">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Remove dog for adoption">
  </form>
<% end %>
