<div class="page-header">
  <h1><b><%= @dog.name %></b></h1>
</div>

<div class="jumbotron">
  <div class="well well-sm">
    <p><b>Age: </b><%= @dog.age %></p>

    <p><b>Breed(s): </b></p>
    <% @dog.breeds.each do |breed|%>
      <p><%= breed.name %></p>
    <% end %>

    <p><b>Description: </b><%= @dog.description %></p>

    <% if @dog.user_id == Helpers.current_user(session).id %>
      <a href="/dogs/<%= @dog.id %>/edit" class="btn btn-primary btn-sm">Edit details <span class="glyphicon glyphicon-pencil"> </span> </a>
      <br></br>

      <form action="/dogs/<%= @dog.id %>/delete" method="post">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-primary btn-sm" name="button">Remove dog <span class="glyphicon glyphicon-trash"> </span></button>
      </form>

    <% else %>
      <p><b>Contact:</b>
      <%= @dog.user_username %> - <a href="mailto:<%= @dog.user.email %>"><%= @dog.user_email %></a></p>
    <% end %>
  </div>

    <a href="/dogs/new" class="btn btn-primary">Post a new dog <span class="glyphicon glyphicon-plus"> </span> </a>
    <a href="/dogs" class="btn btn-primary">View all available dogs <span class="glyphicon glyphicon"> </span> </a>
    <a href="/users/<%= @user.slug %>" class="btn btn-primary">View dogs you have listed <span class="glyphicon glyphicon-heart"> </span> </a>
    <br></br>
    <a href="/logout" class="btn btn-warning">Log out</a>
</div>
