<div class="page-header">
  <h1><b>Dogs you have posted for adoption:</b></h1>
</div>

<div class="jumbotron">

  <% if @dogs.empty? %>
      <p>You have no dogs currently listed for adoption.</p>

  <% else %>
  <p>Click on a dog's name to view that dog's page</p>
    <% @dogs.each do |dog| %>

      <div class="well well-sm">
        <h2><a href="/dogs/<%= dog.id %>"><%= dog.name %></a></h2>
        <p><b>Age: </b> <%= dog.age %></p>

        <p><b>Breed(s): </b></p>
          <% dog.breeds.each do |breed|%>
            <p><%= breed.name %></p>
          <% end %>

        <a href="/dogs/<%= dog.id %>/edit" class="btn btn-primary btn-xs">Edit details <span class="glyphicon glyphicon-pencil"> </span> </a>
        <br><br>

        <form action="/dogs/<%= dog.id %>/delete" method="post">
          <input type="hidden" id="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-primary btn-xs">Remove dog <span class="glyphicon glyphicon-trash"> </span></button>
        </form>
        <br>
        </div>
      <% end %>
  <% end %>

  <br>
  <a href="/dogs/new" class="btn btn-primary">Post a new dog for adoption <span class="glyphicon glyphicon-plus"> </span> </a>
  <a href="/dogs" class="btn btn-primary">View all available dogs</a>
  <br></br>

  <a href="/logout" class="btn btn-warning">Log out</a>
</div>
